server:
  port: 8080
spring:
  application:
    name: transaction-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/transaction_db}
    username: ${SPRING_DATASOURCE_USERNAME:transaction_user}
    password: ${SPRING_DATASOURCE_PASSWORD:transaction_2026}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:kafka:29092}
management:
  endpoints:
    web:
      exposure:
        include: health
